<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>MiniSAR</title>
	<link rel="stylesheet" href="/SARinfo/css/bootstrap.css" />
	<link href="/SARinfo/css/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script  src="https://code.jquery.com/jquery-2.2.4.min.js"  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="  crossorigin="anonymous"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>	
</head>

<body>
<section class="container container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12">	
	<header class=" row pt-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 pt-5 pl-5">
			<p class="text-uppercase display-4" style="color: white;">Laboratorio de Inform&Aacute;tica</p>
			<p class="display-3" style="color: white;">M&Oacute;DULO DE HORAS LIBRES</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
		<span class="thumbnail" style="background: #184391; border: none;">
			<a href="/index.html"><img src="/img/logo.png" alt="logo UDB"/></a>
		</span>
		</div>
	</header>
</section>

<section class="container-fluid p-4 col-lg-12">
	<div class="row justify-content-center"> 
    <div class="col-sm-12 col-md-5 bg-primary text-white mr-1 pl-4">
      <a href="estadisticas.html">
      <div class=" row bg-primary">
       <div class="col-sm-6 p-3 pl-5 pt-5">
        <h2>Informe inicial</h2>
        <div class="">
         <div class=""><h4>Ciclo Actual:</h4></div>
         <div class="">
           <h3>II- 2023</h3>
         </div>
       </div>
       <div class="">
         <div class=""><h4>Cantidad Alumnos:</h4></div>
         <div class="">
           <h3>258 alumnos</h3>
         </div>
       </div>
       <div class="">
         <div class=""><h4>Total de Horas:</h4></div>
         <div class="">
           <h3>84 hrs</h3>
         </div>
       </div>
     </div>
     
     <div class="col-sm-6 p-3">
      <img src="/SARinfo/img/information.png" alt="">
    </div>
  </div>
  </a>
</div>
<div class="col-sm-12 col-md-5 ml-1">
  <div class="bg-warning text-white mb-1 p-4">
    <a href="informesGeneral.html" class="text-white">
      <div class="row">
        <div class="col-sm-5 col-md-4"><img src="/SARinfo/img/calendar.png" alt="" width="100px"></div>
        <div class="col-sm-5 col-md-6"><h2>Informe por periodos</h2></div>
      </div>
    </a>
  </div>
  <br>
  <div class="bg-danger text-white mt-1 p-4">
    <a href="informesAlumno.html" class="text-white"><div class="row">
      <div class="col-sm-5 col-md-4"><img src="/SARinfo/img/student.png" alt="" width="100px"></div>
      <div class="col-sm-5 col-md-6"><h2>Informe por alumnos</h2></div>
    </div>
  </a> 
</div>
</div>
</div>		
</section>
<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center">
	<p class="legal justify-content-center">© Copyright 2023 | Universidad Don Bosco | All Rights Reserved.</p>
	<p class="credit">Desarrollo: Samuel Lopez, William Henriquez, Christian Montoya, Mateo Ledesma, Verónica Abrego</p>
</footer>	
</body>
</html>
